@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
.Home{
    width: calc(100% - 20px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white-color);
    margin-left: 10px;
    margin-bottom: 1rem;
    overflow: hidden;
}
.Home_bg{
    width: 200px;
    height: 200px;
    font-size: 10rem;
    font-weight: 600;
    position: absolute;
    color: var(--bg-text-color);
    z-index: -1;
    top: 20px;
    right: 20px;
    transform: rotate(90deg);
}
.Tag{
    color: var(--tag-color);
    font-family: "La Belle Aurore";
    font-size: 1.2rem;
}
.Header_tags{
    display: flex;
    flex-direction: column;
}
.Home_title h1{
    font-size: 9vw;
    line-height: 1.5rem;
    margin-left: 40px;
}
.Home_title h1 span{
    font-weight: 700;
    display: inline-block;
    cursor: context-menu;
}
.Home_title .Tag{
    margin-left: 30px;
}
.Home_text p{
   color: var(--p-primary-color);
   font-size: 1rem;
   margin-left: 40px;
}
.Home_btn{
    background-color: transparent;
    padding: 1rem 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}
.Home_btn:hover {
    color: var(--black-color);
    font-weight: 500;
}
.Home_btn:active {
    transform: scale(0.9);
}
.Home_btn:before {
    content: "";
    position: absolute;
    background: var(--primary-color);
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.08s ease-in;
    -webkit-transition: top 0.08s ease-in;
}
.Home_btn:hover:before {
    top: 0;
}
.Arrow{
    color: var(--third-color);
    position: absolute;
    bottom: 30px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.Arrow span{
    transform: rotate(90deg);
    font-size: 1rem;
    position: absolute;
    bottom: 50px;
    right: -7px;
}

@media(min-width:540px){
    .Home_title h1{
        font-size: 3rem;
        line-height: 2rem;
    }
}

@media(min-width:720px){
    .Home{
        width: calc(100% - 140px);
        margin-left: 140px;
    }
    .Home_title h1{
        font-size: 4rem;
        line-height: 3rem;
    }
    .Home_text p{
        font-size: 1.2rem;
    }
    .Arrow span{
        transform: rotate(90deg);
        font-size: 1.5rem;
        position: absolute;
        bottom: 55px;
        right: -17px;
    }
}

@media(min-width:990px){
    .Home_title h1{
        font-size: 5rem;
        line-height: 4rem;
    }
    .Home_btn{
        width: 200px;
        height: 50px;
    }
}
@media(min-width:1400px){
    .Home_title h1{
        font-size: 6rem;
        line-height: 5rem;
    }
}